# UFCFVQ-15-M Programming for Data Science
# Week 4 Jupyter Notebook 
# Python Data Structures


## Goals
This notebook has been created to familiarise you with Python's built-in Data Structures - List, Tuple, Set and Dictionary. Most of the code needed to progress through this Notebook has been provided for you. However, there are several coding tasks that you will need to complete yourself by entering code yourself. In addition, there are several exercises for you to complete. Answers to these exercises are available on Blackboard.

The topics in this notebook include:
* Lists
* List Comprehensions
* Tuples
* List/Tuple Slicing
* Sets
* Dictionaries

## Lists
Lists are the most commonly used data structure in Python. It is called an iterable object. This means it is capable of returning its members one item as a time. Think of it as an ordered sequence of data items  List items are ordered, changeable, and allow duplicate values. This means items placed in a list will remain in the order they were initially placed. However, we can add, remove or update items in a list after it has been created. This is called mutability. Finally, each element of a list has a defined index position which we can use to access that item within the list.

Lists are represented in Python as a comma separated list of values that are enclosed within `[]` brackets.

### Initialisation
Lists are initialised using the assignment operator `=` followed by a sequence of comma-separated data elements placed inside `[]` brackets.

In [16]:
# create a list of strings
cars=['Ford','BMW','Volkswagen','Audi','Kia','Nissan']

print(cars)

['Ford', 'BMW', 'Volkswagen', 'Audi', 'Kia', 'Nissan']

It should be noted that the data elements that form a list do not need to be of the same data type.

In [3]:
# an example of mixed data types in a list
person=['Dave Wyatt', 51, 1.76, "Academic"]
print(person)

['Dave Wyatt', 51, 1.76, 'Academic']

This means we can easily create a list that includes other lists (or any other Python data structure).

In [4]:
# an example of a list of lists
person=['Dave Wyatt', 51, 1.76, "Academic", "Male"]
person1=['Supriti Acharya', 35, 1.68, "Pharmacist", "Female"]
person2=['Ottilie Escoffier', 23, 1.62, "Data Scientist", "Non-Binary"]

people=[person, person1, person2]
print(people)

[['Dave Wyatt', 51, 1.76, 'Academic', 'Male'], ['Supriti Acharya', 35, 1.68, 'Pharmacist', 'Female'], ['Ottilie Escoffier', 23, 1.62, 'Data Scientist', 'Non-Binary']]

### Indexing
Individual elements in the list can be accessed using an index value. In Python, indexing starts from 0. However, Python also permits negative indexing which gives us a way to index from the end of the list. To access an element, you simply include the index value within square brackets. Below is an illustration of the `cars` list defined above with both positive and negative indexes.

|<div align="center">'Ford'</div>|<div align="center">'BMW'</div>|<div align="center">'Volkswagen'</div>|<div align="center">'Audi'</div>|<div align="center">'Kia'</div>|<div align="center">'Nissan'</div>|
|---|---|---|---|---|---|
|<div align="center">0</div>|<div align="center">1</div>|<div align="center">2</div>|<div align="center">3</div>|<div align="center">4</div>|<div align="center">5</div>|
|<div align="center">-6</div>|<div align="center">-5</div>|<div align="center">-4</div>|<div align="center">-3</div>|<div align="center">-2</div>|<div align="center">-1</div>|

This means the first element in `cars` can be accessed using the following code:

In [15]:
# An example of indexing to access a list element
print(cars[0]) # positive index
print(cars[-6]) # negative index

Ford
Kia

We can also combine indexes for more complex data structures. For example, in the `person` list above there are 3 lists within the `people` list. To access the first element of the second list, we can use the following code:

In [6]:
print(people[1][0]) # access the first element of the second list

Supriti Acharya

In last week's Jupyter Notebook, we looked at how to use a for loop to iterate through a list. This approach provides access to data elements without the need for the index value. This is a common way to access list elements in Python because it is more common to act on whole lists rather than individual list elements.

In [17]:
# iterate through a list
for car in cars:
    print(car)

Ford
BMW
Volkswagen
Audi
Kia
Nissan

#### Index out-of-bounds Error
Python will not permit an index value that is outside of addressable elements in a list. Any attempt to do this will result in an `IndexError: list index out of range` message. Be careful when using indexes to avoid this.

In [7]:
print(cars[6])

IndexError: list index out of range

### List Slicing
In Week 2, we looked at how to use the slice operator to extract substrings from an existing string. Slicing can also be used with Lists (and Tuples). Some familiarity with the concept of slicing is assumed here. Slicing a sequence allows us to retrieve a subsequence of items, based on the indexing scheme described above. The basic syntax for slicing is: `seq[start:stop:step]`, using colons to separate the start, stop, and step values.

Specifying a slice consists of:
* A start-index: the sequence-position where the slice begins (this item is included in the slice).
* A stop-index: the sequence-position where the slice ends (this item is excluded from the slice).
* A step-size, which permits us to take every nth item within the start & stop bounds. 

If any of these values is left out of the slice, its default value is used. These are:
* start: 0
* stop: len(seq)
* step: 1

In [9]:
# the following list slices are all equivalent
print(cars[0:4]) # step assumed to be 1
print(cars[0:4:1]) 
print(cars[:4]) # start assumed to be 0 and step assumed to be 1
print(cars[:4:1]) # start assumed to be 0

['Ford', 'BMW', 'Volkswagen', 'Audi']
['Ford', 'BMW', 'Volkswagen', 'Audi']
['Ford', 'BMW', 'Volkswagen', 'Audi']
['Ford', 'BMW', 'Volkswagen', 'Audi']

#### Negative Step-Size
In fact, we can use a negative step-size to traverse a sequence in reverse order.

In [10]:
print(cars[::-1])

['Nissan', 'Kia', 'Audi', 'Volkswagen', 'BMW', 'Ford']

### <font color='red'><u>Worksheet Exercises</u></font>
1. Create a list of all the colours in a rainbow
2. Print the last colour in your list using a negative index
3. Print all of the colours in your list except `"Red"`
4. Print all of the colours in your list in reverse order
5. Print the 1st, 3rd, 5th and 7th colours in your list using list slicing

In [12]:
# add your exercise solutions here
#1
rainbow=['violet','indigo','blue','green','yellow','orange','red']
#2
print(rainbow[-7:-1])
#3
print(rainbow[0:5])
#4
print(rainbow[::-1])
#5
print(rainbow[0:8:2])

['violet', 'indigo', 'blue', 'green', 'yellow', 'orange']
['violet', 'indigo', 'blue', 'green', 'yellow']
['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
['violet', 'blue', 'yellow', 'red']

### Changing Elements
The most common way to change an element value stored in a List is to use an index value to target the element we wish to change. Then, we use the assignment operator `=` to change its value.

In [18]:
# change a element value
cars[4] = 'Toyota'
print(cars)

['Ford', 'BMW', 'Volkswagen', 'Audi', 'Toyota', 'Nissan']

In fact, it is possible to change multiple values at the same time using a slice operation instead of a single index value.

In [12]:
# change the first three elements of a list using a slice operation
cars[:3] = ['Fiat','Hyundia','Volvo']
print(cars)

['Fiat', 'Hyundia', 'Volvo', 'Audi', 'Toyota', 'Nissan']

### Adding Elements
A List can change in size once it has been initialised. We can append an item to the end of a List, we can insert an item at any point within a List or we can extend a List with the content of another List (or any iterable data structure).

#### Appending
In Python, to append something to a List means to add it to the end of the List.  To append an object, we can use the `append()` method.

In [19]:
# append an object to the end of a list
cars.append('Skoda')
print(cars)

['Ford', 'BMW', 'Volkswagen', 'Audi', 'Toyota', 'Nissan', 'Skoda']

Any object can be added to a List including another List. However, this should not be confused with extending a list which is described later in the Notebook. In the example below, a List object is appended to the end of `cars`. NOTE: the whole of the `sports_cars` List is added to `cars` as a single element.

In [20]:
# append a list to the end of a list
sports_cars=['Lamborghini','Porsche','Ferrari']
cars.append(sports_cars)
print(cars)

['Ford', 'BMW', 'Volkswagen', 'Audi', 'Toyota', 'Nissan', 'Skoda', ['Lamborghini', 'Porsche', 'Ferrari']]

#### Inserting 
It is also possible to insert a new item within a List rather than at the end. To do this we can use the `insert()` method. This method has two parameters. Th first parameter is the index position at which to insert the new item. The second parameter is the object to be inserted.

In [21]:
# insert an item into a list
fruit=['Strawberry', 'Grape', 'Banana']
fruit.insert(1,'Apple')
print(fruit)

['Strawberry', 'Apple', 'Grape', 'Banana']

#### Extending
Above we covered how to append an item to the end of a List. The `extend()` method is similar but differs in the way iterable objects (such as List or Tuples) are processed. All elements of the iterable object are added one item at a time instead as a whole list (as is the case for `append()` method). This method is very useful when concatenating lists.

In [16]:
# add two lists together
numbers = [1,2,3,4,5]
more_numbers = [6,7,8,9,10]

numbers.extend(more_numbers)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In fact, if we want to concatenate two lists, we can also use the `+` operator to do this.

In [17]:
# add two lists together using the + operator
numbers = [1,2,3,4,5]
more_numbers = [6,7,8,9,10]

numbers = numbers + more_numbers
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Removing Elements
We can also remove elements from a List. We can remove an item from the end of a List, we can remove an item from any point within a List or we can remove all items from a List.

#### `pop()`
The `pop()` method can be used to remove an element from the List at a specified index position.

In [29]:
# remove an element from a list using pop()
fruit=['Strawberry', 'Grape', 'Banana']
fruit.pop(1) # remove the second item in the list
print(fruit)

['Strawberry', 'Banana']

If `pop()` is used without an index parameter, the last item in the List will be removed.

In [30]:
# remove the last element from the list using pop()
fruit.pop()
print(fruit)

['Strawberry']

#### `remove()`
The `remove()` method can be used to remove the first occurance of a given element value from the List by supplying the value to be removed to the method.

In [31]:
# remove a specified element from the list
fruit=['Strawberry', 'Grape', 'Banana']
fruit.remove('Strawberry')
print(fruit)

['Grape', 'Banana']

#### `clear()`
The `clear()` method removes all items from the List.

In [32]:
# remove all items from the list
fruit=['Strawberry', 'Grape', 'Banana']
fruit.clear()
print(fruit)

[]

### <font color='red'><u>Worksheet Exercises</u></font>
1. Create a list containing the following letters: `"H"`,`"e"`,`"l"`,`"l"`,`"o"`,`" "`,`"W"`,`"o"`,`"r"`,`"l"`,`"d"`,`"."`
2. Write a program to change the final character in the list to a `"!"`
3. Write a program to convert the list of characters into a string
4. Write a program to remove duplicates from the list created in 1. above
5. Write a program to convert the string `"Programming for Data Science"` into a list of characters
6. Write a program to add the module code `UFCFVQ-15-M` (as a list of characters) to the beginning of the list created in 5. above

In [7]:
# add your exercise solutions here
#1
letter=["H","e","l","l","o"," ","W","o","r","l","d","."]
#2
letter[11]="!"
print(letter)
#3
x="".join(letter)
print(x)
#4
newLetter=[]
for i in letter:
    if i not in newLetter:
        newLetter.append(i)
print(newLetter)

#5
str="Programming for Data Science"
str=(str.split())
print(str)
#6
module="UFCFVQ-15-M"
module=(module.split())
str=module+str
print(str)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']
Hello World!
['H', 'e', 'l', 'o', ' ', 'W', 'r', 'd', '!']
['Programming', 'for', 'Data', 'Science']
['UFCFVQ-15-M', 'Programming', 'for', 'Data', 'Science']

## List Comprehensions
A List comprehension is a concise way to create a new list from an existing list (or any other iterable object). The syntax of a List comprehension is `[<expression> for <item> in <list>]`. The `<expression>` will act on each `<item>` in the `<list>` one at a time. The result of applying the `<expression>` to each `<item>` is added to the new list that is being generated by the list comprehension. The same result can be achieved using an equivalent for loop. Below is an example of a list comprehension and its for loop equivalent.

In [10]:
# List comprehension for capitalising a list of strings
fruits=['Strawberry', 'Grape', 'Banana']

fruit_lc = [fruit.upper() for fruit in fruits]
print(fruit_lc)

['STRAWBERRY', 'GRAPE', 'BANANA']

In [11]:
# the equivalent for loop to capitalise a list of strings
fruits=['Strawberry', 'Grape', 'Banana']

fruit_fl = []
for fruit in fruits:
    fruit_fl.append(fruit.upper())
print(fruit_fl)

['STRAWBERRY', 'GRAPE', 'BANANA']

In fact, we can add a conditional expression to a List comprehension to filter the list we are comprehending. The syntax for a list comprehension with a conditional expression is `[<expression> for <item> in <list> <conditional expression>]`.

In [13]:
# List comprehension for filtering a list of strings
fruits=['Strawberry', 'Grape', 'Banana']

fruit_lc = [fruit for fruit in fruits if len(fruit) < 7] # 
print(fruit_lc)

['Grape', 'Banana']

The `<expression>` itself can also include conditional behaviour. However, the syntax for the if statement is slightly different: `<value if true> if <condition> else <value if false>`. In list comprehensions, the first thing we need to specify must be a value and so if `<condition>` and `<value if true>` are reversed.

In [36]:
# list comprehnsion with a conditional expression behaviour
fruits=['Strawberry', 'Grape', 'Banana', 'Apple', 'Pineapple']

# if the length of the string is greater than 6 characters replace the string with None
short_fruit = [fruit if len(fruit)< 7 else None for fruit in fruits]
print(short_fruit)

[None, 'Grape', 'Banana', 'Apple', None]

### <font color='red'><u>Worksheet Exercises</u></font>
1. Create a list of all the numbers between 1-20 using a comprehension
2. Create a list of all then numbers between 23-41 using a comprehension
3. Find all of the numbers between 1-100 that have a 3 in them
4. Create a list of strings for all the numbers between 1-20 where the word 'even' is used for all even numbers and the word 'odd' for all odd numbers, e.g. `['odd','even','odd',....'even']`.
5. Create a list that contains only the numbers in the following sentence 'In 1984 there were 13 instances of a protest with over 1000 people attending'.

In [91]:
# add your exercise solutions here
#1
num=[]
for x in range(1,21):
    num.append(x)
print(num)
#2
num=[]
for x in range(23,42):
    num.append(x)
print(num)
#3
x= list(range(1,101))
n="3"
count=[i for i in x if n in str(i)]
print(count)
#4
y=list(range(1,21))
type=["odd" for i in y if i%2==1]
print(type)
#5
sentense="In 1984 there were 13 instances of a protest with over 1000 people attending"
sentense=list(sentense)
numbers="198430"
num=[a for a in sentense if numbers in str(a)]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]
[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]
['odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'odd', 'odd']
[]

## Tuples
Tuples are similar to Lists, in that you can store an ordered collection of object values in a single variable. Tuple items are ordered, unchangeable, and allow duplicate values. So, the key difference between tuples and lists is that tuples are immutable, i.e. they cannot change once initialised. Two good reasons to use a tuples over lists to store data are:
1. Due to their immutable nature, tuples are faster to access than lists
2. Tuples can lead to safer code by effectively 'write-protecting' data

### Initialisation
Tuples are initialised using the assignment operator `=` followed by a sequence of comma-separated data elements placed inside `()` brackets.

In [25]:
# create a tuple of strings
cars=('Ford','BMW','Volkswagen','Audi','Kia','Nissan')

print(cars)

('Ford', 'BMW', 'Volkswagen', 'Audi', 'Kia', 'Nissan')

In fact, the `()` brackets are optional when creating a new tuple. Python will automatically create one for you if you provide a comma-separated list of variables without the brackets. However, from the perspective of readability and clarity you should always include the `()` whenever you create a new tuple.

In [26]:
# create a tuple of strings
fruit="apple", "banana", "cherry"

print(fruit)

('apple', 'banana', 'cherry')

### Changing elements is not possible
As already mentioned above Tuples are immutable - this means we cannot change its elements once the tuple has been initialised.  The example below shows the error that occurs when you try to change an element.

In [27]:
# try to change a tuple element
cars[0] = 'Porsche'

TypeError: 'tuple' object does not support item assignment

However, one workaround for this restriction is to convert the tuple to a list, remove the item and then convert the list back into a tuple.

In [29]:
# remove an item from a tuple using list convertion
fruits_tuple = ("apple", "banana", "cherry")

fruits_list = list(fruits_tuple) # convert the tuple to a list
fruits_list.remove("apple") # remove an item
fruits_tuple = tuple(fruits_list) # convert the list to a tuple
print(fruits_tuple)

('banana', 'cherry')

### Unpacking a tuple
When a tuple is created, we assign values to it. This is called "packing" a tuple. Unpacking allows us to retreive the values stored in the tuple and assign them to variables. The variables to be assigned values are included in a comma-separated list inside `()` brackets followed by the `=` assignment operator and finally the tuple to unpack. Be careful to ensure the number of variable matches the number of elements in the tuple (i.e. in the example below there are 3 values in the tuple and 3 variables). Too few or too many will result in an error.

In [93]:
# Unpacking a tuple element
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits # unpacking the tuple into three variables
print(green)
print(yellow)
print(red)

fruits[:-1]

apple
banana
cherry

('apple', 'banana')

### Shared Functionality with Lists
None of the List functionality related to adding, changing and removing elements is available to use with Tuples. However, we can still use access elements using the `[]` operator. Indexing works the same way as it does in Lists.

In [31]:
# create a tuple of strings
cars=('Ford','BMW','Volkswagen','Audi','Kia','Nissan')

print(cars[0])

Ford

You can also perform slices on tuples in exactly the same way you can with Lists, i.e. using the `seq[start:stop:step]` syntax.

In [32]:
# perform a tuple slices
print(cars[0:4]) # step assumed to be 1

('Ford', 'BMW', 'Volkswagen', 'Audi')

You can also iterate over the contents of a tuple in exactly the same way you can with Lists, i.e. using a `for` loop.

In [33]:
# iterate through a tuple
for car in cars:
    print(car)

Ford
BMW
Volkswagen
Audi
Kia
Nissan

Finally, you can also use the `+` operator to concatenate two (or more) tuples.

In [34]:
# add two tuples together using the + operator
sports_cars=('Lamborghini','Porsche','Ferrari')

cars = cars + sports_cars
print(cars)

('Ford', 'BMW', 'Volkswagen', 'Audi', 'Kia', 'Nissan', 'Lamborghini', 'Porsche', 'Ferrari')

### `zip()` and `zip(*)`
Python has a built-in function called `zip()` which can be used to aggregate one or more iterables into a collection of tuples. The resulting zip object can then be converted into a Tuple, List, Set or even a Dictionary object.

In [94]:
# zip two lists together into a List of tuples
number_list = [1, 2, 3]
str_list = ['one', 'two', 'three']

result = zip(number_list, str_list)
zipped_list = list(result)
print(zipped_list)

[(1, 'one'), (2, 'two'), (3, 'three')]

To unzip the collection of tuples back into independent tuples, we use the same `zip()` function but we must precede the collection to be unzipped with the `*` operator.

In [38]:
# unzip a list of tuples into two separate tuples
k, v = zip(*zipped_list)
print(k, v)

(1, 2, 3) ('one', 'two', 'three')

### <font color='red'><u>Worksheet Exercises</u></font>
1. Create a tuple called `primes` with the following values: 2,3,5,7,11,13,17,19,23,29,31,37,41,43,47
2. Add the next 4 prime numbers to `prime`
3. Print only those prime numbers in `prime` with a number 3 in them
4. Unpack the following tuple into the variable `forename` and `surname`: `('Dave','Wyatt')`
5. Given the following two lists of areas and telephone area codes, use the `zip()` function to create a tuple of area:area code pairs:
| <div align="center">area</div> | <div align="center">Area Code</div> |
|---|---|
| <div align="center">Leeds</div> | <div align="center">0113</div> | 
| <div align="center">Sheffield</div> | <div align="center">0114</div> |
| <div align="center">Nottingham</div> | <div align="center">0115</div> |
| <div align="center">Leicester</div> | <div align="center">0116</div> |
| <div align="center">Bristol</div> | <div align="center">0117</div> |
| <div align="center">Reading</div> | <div align="center">0118</div> |

In [102]:
# add your exercise solutions here
#1
prime=(2,3,5,7,11,13,17,19,23,29,31,37,41,43,47)
#2
nextPrime=(51,53,59,61)
prime=prime+nextPrime
print(prime)
#3
x= list(prime)
n="3"
count=[i for i in x if n in str(i)]
print(count)
#4
original=('Dave','Wayatt')
(forename,surname)=original
print(forename)
print(surname)
#5
area=['Leeds','Sheffield','Nottingham','Leicester','Bristol','Reading']
code=[113,114,115,116,117,118]
results=zip(area,code)
zipped_list = list(results)
print(zipped_list)

(2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 51, 53, 59, 61)
[3, 13, 23, 31, 37, 43, 53]
Dave
Wayatt
[('Leeds', 113), ('Sheffield', 114), ('Nottingham', 115), ('Leicester', 116), ('Bristol', 117), ('Reading', 118)]

## Sets
A Set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed). However, a Set itself is mutable. We can add or remove items from it. A Set is also unindexed which means you cannot use the `[]` brackets to access elements or the slice operator to generate a subset. In addition, Sets can also be used to perform the mathematical set operations union, intersection, difference and symmetric difference.

### Initialisation
Sets are initialised using the assignment operator `=` followed by a sequence of comma-separated data elements placed inside `{}` brackets. It can have any number of items and these may be of many different data types. However, a Set cannot store mutable elements like Lists, Sets or Dictionaries. Tuples are immutable and so they can be added to a Set.

In [103]:
# An example code snippet that creates a set
set_of_animals={'Dog','Cat','Bird','Whale','Human','Monkey','Rabbit'}

print(set_of_animals)

{'Monkey', 'Rabbit', 'Whale', 'Bird', 'Dog', 'Cat', 'Human'}

### Accessing Elements
There are two ways that you can access the elements of a set. The first way is to loop through the contents of the set.

In [104]:
# iterate through the set contents and print the value of each element
for animal in set_of_animals:
    print(animal)

Monkey
Rabbit
Whale
Bird
Dog
Cat
Human

The second way is to check if a specified value exists in the Set. You cannot directly access elements in a Set using `[]` brackets.

In [41]:
# check if a specified value exists in the set. True indicates it does.
'Dog' in set_of_animals

True

### Adding Elements
Although a Set's elements are immutable (they cannot change), the Set itself is mutable and can change once it has been initialised. Sets are unindexed and so we don't have options to add elements at a specific index position or to the end of the Set. However, we can add a single item to the Set, an entire existing Set or data items from any iterable collection. In all cases, any value that already exists in the Set is not duplicated.

#### `add()`
The `add()` method is used to add a value to add to the Set. The required value is its only parameter.

In [42]:
# add a new animal to the set
set_of_animals.add('Tiger')
print(set_of_animals)

{'Whale', 'Dog', 'Human', 'Monkey', 'Rabbit', 'Tiger', 'Bird', 'Cat'}

#### `update()`
The `update()` method can be used to add multiple items to a set at the same time. The parameter can be any iterable data type such as a Set, List or Tuple.

In [43]:
# add a list of animals into an existing Set of animals (with a single duplicate animal)
list_of_animals=['Rabbit', 'Squirrel', 'Cow', 'Parrot']

set_of_animals.update(list_of_animals)
print(set_of_animals)

{'Parrot', 'Whale', 'Dog', 'Human', 'Monkey', 'Rabbit', 'Tiger', 'Cow', 'Bird', 'Squirrel', 'Cat'}

### Removing Elements
We can also remove elements from a Set. There are several options including removing a specified item from the Set, removing the last item in the Set and removing all items in a Set.

#### `remove()`/`discard()`
Both methods can be used to remove a specified value from the Set. The `remove()` method will raise an error if the parameter value does not exist in the Set while `discard()` does not raise an error.

In [46]:
# remove a specified element from the Set
fruit={'Strawberry', 'Grape', 'Banana'}

fruit.remove('Strawberry')
print(fruit)

{'Grape', 'Banana'}

If we try to remove an value from the set that does not exist using the `remove()` method, we receive a `KeyError` runtime error.

In [105]:
fruit={'Strawberry', 'Grape', 'Banana'}

fruit.remove('Apple')
print(fruit)

KeyError: 'Apple'

If we try to remove an value using the `discard()` method instead, we do not receive an error.

In [106]:
fruit={'Strawberry', 'Grape', 'Banana'}

fruit.discard('Apple')
print(fruit)

{'Banana', 'Grape', 'Strawberry'}

#### `pop()`
The `pop()` method can be used to remove the last element in the Set. However, caution should be taken when using this method because sets are unordered and so you will have no way to determine which item will be popped - it will be completely arbitrary.

In [107]:
# remove an element from a set using pop()
fruit={'Strawberry', 'Grape', 'Banana'}
fruit.pop()
print(fruit)

{'Grape', 'Strawberry'}

#### `clear()`
The `clear()` method removes all items from the Set.

In [48]:
# remove all items from the set
fruit={'Strawberry', 'Grape', 'Banana'}
fruit.clear()
print(fruit)

set()

### Set-Based Operations
Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference.

#### Union
Assuming we have two sets of values A and B, the union of A and B is a set of all elements from both sets. The figure below illustrates this.

![set-union.jpg](img/set-union.jpg)

To perform the union of two Sets, we can either use the `union()` method or the `|` operator.

In [49]:
# using the union() method
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

C = A.union(B)
print(C)

{1, 2, 3, 4, 5, 6, 7, 8}

In [50]:
# using the | operator
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

C = A | B
print(C)

{1, 2, 3, 4, 5, 6, 7, 8}

#### Intersection
Assuming we have two sets of values A and B, the intersection of A and B is a set of elements that are common to both sets. The figure below illustrates this.

![set-intersection.jpg](img/set-intersection.jpg)

To perform the intersection of two Sets, we can either use the `intersection()` method or the `&` operator.

In [51]:
# using the intersection() method
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

C = A.intersection(B)
print(C)

{4, 5}

In [52]:
# using the & operator
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

C = A & B
print(C)

{4, 5}

#### Difference
Assuming we have two sets of values A and B, the difference of B from A is the set of elements that are only in A but not in B. The figure below illustrates this.

![set-difference.jpg](img/set-difference.jpg)

To perform the difference of two Sets, we can either use the `difference()` method or the `-` operator.

In [53]:
# using the difference() method
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

C = A.difference(B)
print(C)

{1, 2, 3}

In [54]:
# using the - operator
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

C = A - B
print(C)

{1, 2, 3}

##### Symmetric Difference
Assuming we have two sets of values A and B, the symmetric difference is the set of elements that are in A and in B but not in both (i.e. it excludes the intersection). The figure below illustrates this.

![set-symmetric-difference.jpg](img/set-symmetric-difference.jpg)

To perform the symmetric difference of two Sets, we can either use the `symmetric-difference()` method or the `^` operator.

In [55]:
# using the symmetric difference() method
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

C = A.symmetric_difference(B)
print(C)

{1, 2, 3, 6, 7, 8}

In [56]:
# using the ^ operator
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

C = A ^ B
print(C)

{1, 2, 3, 6, 7, 8}

### <font color='red'><u>Worksheet Exercises</u></font>
1. Create a set of vowels in the English language
2. Given a string, print all the vowels contained within the string
3. Adjust your previous answer to create a set of the vowels contained within the string
4. Convert the two strings `'Python is cool'` and `'Programming can be fun'` into two different sets (using the `set()` function) before attempting the following:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;a. What characters do these strings have in common?<br/>
&nbsp;&nbsp;&nbsp;&nbsp;b. How many unique characters are there in both strings?<br/>
&nbsp;&nbsp;&nbsp;&nbsp;c. Which characters are in the first string but not in the second string?<br/>
&nbsp;&nbsp;&nbsp;&nbsp;d. Which vowels are in the second string but not in the first string?

In [118]:
# add your exercise solutions here
#1
vowels={'a','e','i','o','u'}
#2
string=input("Enter a string to find the vowels in it:")
for char in string:
    if char in vowels:
        print(char,end=",")
#3
vowel_set=[]
string=input("Enter a string to find the vowels in it:")
for char in string:
    if char in vowels:
        vowel_set.append(char)
print(set(vowel_set))
#4

Enter a string to find the vowels in it:oyot
o,o,Enter a string to find the vowels in it:oyure
{'o', 'u', 'e'}

## Dictionaries
Dictionaries are used to store `<key>:<value>` pairs. This means that a Python dictionary is made up of multiple elements each of which has a `<key>` and corresponding `<value>`. Think of it like an English dictionary in which each word acts as key and the correspnding defintion acts as its value. Unlike Lists and Tuples, which are indexed by a range of numbers, dictionaries are indexed by keys. Dictionaries are optimized to retrieve values when the key is known. Python dictionaries are changeable, ordered (Python 3.7 onwards), and do not permit duplicate keys.

### Initialisation
Dictionaries can be initialised using the assignment operator `=` followed by a sequence of comma-separated key:value data elements placed inside `{}` brackets. While a value can be of any data type and can repeat, keys must be of immutable type (such as a string, number or tuple with immutable elements) and must be unique.

In [57]:
# An example code snippet that creates a dictionary
car_brand_model = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car_brand_model)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Accessing Elements
There are several ways that you can access the contents of a Python dictionary.

#### `[]` brackets
Using this approach, we need to place the key whose value we are looking for inside the `[]` brackets. This is similar to the indexing we use in Lists except the index we use here can be of any immutable type rather than being restricted to integers beginning at 0.

In [58]:
# access the brand value using [] brackets
print(car_brand_model["brand"])

Ford

#### `get()`
The `get()` method performs the same function as the `[]` brackets approach above. The key whose value we are looking for is supplied as a parameter to the method.

In [59]:
# access the brand value using the get() method
print(car_brand_model.get("brand"))

Ford

#### Iterate using for loop
Another way to access the elements is using a for loop to iterate through the dictionary contents. In fact, there are a couple of options we have here. Firstly, we can access all the keys using the `keys()` method.

In [60]:
# access the dictionary's keys using the keys() method
for key in car_brand_model.keys():
    print(key)

brand
model
year

Next, we can access all the values using the `values()` method.

In [61]:
# access the dictionary's values using the values() method
for value in car_brand_model.values():
    print(value)

Ford
Mustang
1964

Finally, we can access all key:value pairs using the `items()` method. Note that the `items()` method returns a tuple which we need to unpack to access the key and value.

In [62]:
# access the dictionary's key:value pairs using the items() method
for key, value in car_brand_model.items():
    print(key,":",value)

brand : Ford
model : Mustang
year : 1964

### Adding/Changing Values
Python dictionaries use the same approaches for adding/changing key value pairs. The key difference between their action is that if the key already exists then the value is changed otherwise the new key:value pair is added. There are three options for adding/changing key:value pairs: `[]` brackets, the `update()` method and the `fromkeys()` method.

#### `[]` brackets
Using this approach, we need to place the key whose value we are looking for inside the `[]` brackets and use the assignment operator `=` followed by the new value to change a key's associated value, as follows: <dictionary>[<key>]=<value>

In [63]:
# change a key's value using [] brackets
car_brand_model["year"] = 1965

print(car_brand_model)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1965}

In [64]:
# adding a new key value pair using [] brackets
car_brand_model['colour']='Red'

print(car_brand_model)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1965, 'colour': 'Red'}

#### `update()`
The `update()` method has two possible uses. Firstly, it allows us to add multiple key:value pairs from another dictionary (or any iterable object that has tuples of length 2) at the same time.

In [65]:
# adding the contents of an existing dictionary using the update() method
car_price_details = {
  "price": 24950,
  "transmission": "manual"
}

car_brand_model.update(car_price_details)
print(car_brand_model)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1965, 'colour': 'Red', 'price': 24950, 'transmission': 'manual'}

Secondly, `update()` can be used to change multiple key:value pairs at the same time. To do this you need to add the key:value pairs as parameters. This method assumes the key is a string datatype.

In [66]:
# update multiple key:value pairs using the update() method
car_brand_model.update(price=25950, colour="Blue")

print(car_brand_model)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1965, 'colour': 'Blue', 'price': 25950, 'transmission': 'manual'}

#### `fromkeys()`
The `fromkeys()` method can be used to add a multiple keys at the same time. This method needs to be executed using the `dict` keyword as it is a method of the Dictionary class itself. The methods has two parameters. The first parameter can be any iterable object (such as a List). The second parameter is represents the value to be associated with all keys in the first parameter and is optional. If it is not used then the value `None` is used instead.

In [67]:
# create a dictionary from a list using the fromkeys() method
list_of_names = ["Dave", "Supriti", "Liam", "Elijah", "Olivia", "Sophia", "Imani", "Kwame"]

names_dict = dict.fromkeys(list_of_names)
print(names_dict)

{'Dave': None, 'Supriti': None, 'Liam': None, 'Elijah': None, 'Olivia': None, 'Sophia': None, 'Imani': None, 'Kwame': None}

If we do provide a value for the second parameter then this value will be used as the initial value for each key added.

In [68]:
# create a dictionary from a list using the fromkeys() method with a value
list_of_male_names = ["Dave", "Liam", "Elijah", "Kwame"]
list_of_female_names = ["Supriti", "Olivia", "Sophia", "Imani"]

names_dict = dict.fromkeys(list_of_male_names, "Male")
names_dict.update(dict.fromkeys(list_of_female_names, "Female"))
print(names_dict)

{'Dave': 'Male', 'Liam': 'Male', 'Elijah': 'Male', 'Kwame': 'Male', 'Supriti': 'Female', 'Olivia': 'Female', 'Sophia': 'Female', 'Imani': 'Female'}

### Removing Elements
To remove a given key:value pair from the Dictionary, you should use the `pop()` method. We can also clear the entire Dictionary using the `clear()` method.

#### `pop()`
The `pop()` method can be used to remove a specified key:value pair from the Dictionary. This method requires only the key to remove the pair from the Dictionary

In [69]:
# remove an element from a dictionary using pop()
car_brand_model.pop('year')

print(car_brand_model)

{'brand': 'Ford', 'model': 'Mustang', 'colour': 'Blue', 'price': 25950, 'transmission': 'manual'}

#### `clear()`
The `clear()` method removes all pairs from the Dictionary.

In [70]:
# remove all items from the dictionary
car_brand_model.clear()

print(car_brand_model)

{}

### <font color='red'><u>Worksheet Exercises</u></font>
1. Create a dictionary containing two keys,`vowel` and `consonant`, with the following sets as values `{'a','e','i','o','u'}` and `{'b','c','d','f','g','h','j','k','l','m','n','p','q','r','s','t','v','w','x','y','z'}`
2. Print out all of the vowels
3. Add a new key:value pair that contains the symbols: `!"%^&*_-+@:;# .,`
4. Create a second dictionary called `digits` which contains a single key:value pair (a set of digits 0 to 9). Now, combine this new dictionary with your first dictionary
5. Using combined dictionary, identify all of the characters classes (vowel, consonant, digit or symbol) in the following string `The best song recorded in the 1980s was "Broken Wings by Mr. Mister"!`

In [ ]:
# add your exercise solutions here